<p>
	<h1 class="center"><%= @book.name %></h1>
	<h6 class="center">By: <%= @book.author.name %></h6>	
	<hr/>
</p>
<div class="row">
	<div class="col-md-8 well">	
		<%= simple_format(@book.description) %>
	</div>
</div>
<%= link_to "Edit this Book", edit_book_path(@book), class: "btn btn-success pull-right" %>
